#root {
    min-height: 100vh;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
}

html {
    font-family: var(--font-sans);
    color: var(--text);
    background: var(--background);
}