#root {
    display: flex;
    flex-direction: column;
}

html,
body,
#root {
    height: 100%;
}


html,
body {
    margin: 0;
}


html {
    font-family: var(--font-sans);
    color: var(--text);
    background: var(--background);
}