.footerWrapper {
    border-radius: 300px;
    padding: 0.75rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--navbar-gradient);
    color: var(--text-on-navbar);
    box-shadow: var(--shadow-md);

    margin: auto 1rem 0 1rem;
}

.footerContent span {
    font-size: 1.5rem;
    font-weight: 500;
}